name = "identity-dynamic"
account_id = ""
workers_dev = false
compatibility_date = "2024-11-25"
main = "src/main.js"


routes = [
	{ pattern = "", custom_domain = true }	
]

# wrangler kv:namespace create IDENTITY_DYNAMIC_THEME_STORE

[[kv_namespaces]] 
binding = "IDENTITY_DYNAMIC_THEME_STORE"
id = "" # unique ID of the previously created namespace

[vars]
# - BEARER_TOKEN (Defined with wrangler secret put)
CORS_ORIGIN = "" # This should be the route pattern domain /debug (https://example.com/debug)
ACCOUNT_ID = ""
ORGANIZATION_ID = ""
ORGANIZATION_NAME = ""
DEBUG = "true"
TARGET_GROUP = "" # Define the "special group" that you want to use for notification

[site]
bucket = "./build" 

[build]
command = "npm run build"